<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ page.title }}</title>
<meta name="keywords" content="cue, flacon, converter, ape, flac, mp3, cd, ogg">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="/favicon-16x16.png"   sizes="16x16"   />
<link rel="icon" type="image/png" href="/favicon-32x32.png"   sizes="32x32"   />
<link rel="icon" type="image/png" href="/favicon-48x48.png"   sizes="48x48"   />
<link rel="icon" type="image/png" href="/favicon-64x64.png"   sizes="64x64"   />
<link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="/favicon-256x256.png" sizes="256x256" />
<link rel="icon" type="image/png" href="/favicon-512x512.png" sizes="512x512" />

<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ include.css }}" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/cufon-yui.js"></script>
<script type="text/javascript" src="/js/arial.js"></script>
<script type="text/javascript" src="/js/cuf_run.js"></script>
<script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
<script type="text/javascript">
   hs.allowMultipleInstances = false;
   hs.wrapperClassName = "img_popup";
   hs.graphicsDir = '/highslide/graphics/';
</script>
<link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />
<link rel="stylesheet" href="/css/octicons/octicons.css">
</head>