---
layout: default
title: Flacon - Screenshots
menuItem: screenshots

carousel_images:
  - preview:     flacon-main-small.png
    full:        flacon-main.png
    description: Main window

  - preview:     flacon-cover-small.png
    full:        flacon-cover.png
    description: Disk cover dialog

  - preview:     flacon-convert-small.png
    full:        flacon-convert.png
    description: Conversion process

  - preview:     flacon-config-small.png
    full:        flacon-config.png
    description: Configure dialog
---



<p>
<h2>Screenshots</h2>

{% for img in page.carousel_images %}
    {% include gallery_img.html img=img.full preview=img.preview description=img.description %}
<p>
{% endfor %}

