{% include html_head.html css="/css/default.css" %}
<body>
<div class="main">

<div class="header">
  <div class="header_resize">
    <div class="logo">
      <h1><a href="/index.html">Flac<span>on</span></a><small></small></a></h1>
    </div>
    <div class="menu_nav">
      {% include menu.html %}
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>


  <div class="clr"></div>

  <div class="content">
    <div class="content_resize">
        {{ content }}
      <div class="clr"></div>
    </div>
  </div>

{% include footer.html %}
</div>
</body>
</html>
